# Understanding the Data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/alesandro/Downloads/deidentified_hca_employees.csv')
df.head()

<positron-console-cell-3>:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.

,Emp34Id,EmpLastName,EmpFirstName,EmpProcessLevelDesc,EmpLegCoid,EmpLocationDesc,facility_city,facility_state,facility_zip,EmpDepartment,EmpDepartmentName,EmpPositionDesc,MgrName,MgrTitle,Mgr34Id,EmpAnnivDate,EmpPositionIsSuper,EmpRNExperienceDate
0,742ec4ef-20f8-420b-ae7e-2bfcffe55cae,Heaney,Bg-lynnezee,HCA Florida Pasadena Hospital,26536,HCA Florida Pasadena Hospital,Petersburg,FL,33707,75410,Respiratory Therapy,Supv Respiratory Therapy,"Jahbari, Deckow",Dir Critical Care,9d39e232-d133-4ce4-bf6d-276cc5a7e364,10/15/12,Y,NaN
1,509d3309-ebad-4a78-b0e0-e61824802ce0,Corwin,Amarda,Lawson Group - Officers,27610,Mission Hospital,Ashville,NC,28801,27610,Mission Hospital,CEO Mission Hospital,"Derek, Kling",Div President North Carolina,65aecf22-f6fd-490d-9a2b-52c02e001790,9/9/13,Y,NaN
2,35616aa4-c019-494a-bae1-fc749d87246b,Schultz,Jahmei,Swedish Medical Center,27100,Swedish Medical Center,Englewood,CO,80110,90217,Finance,Controller,"Steven, Parisian",CFO,d72a0182-66af-4f1b-8e89-b2e26c361f78,3/10/08,Y,NaN
3,a8974b25-7330-4b16-b6b0-1e512cc93815,Lynch,Artur,Parkridge Medical Center,34224,Parkridge Medical Center,Chattanooga,TN,37404,78338,Employee Health,Mgr EE Health,NaN,Mkt VP HR,NaN,8/28/06,Y,9/12/94
4,10ae639a-e858-42fa-909f-60e8abba0787,Torphy,Tamand,Lawson IT&S,26249,1100 MLK (Capitol View),Nashville,TN,37203,650D2,HT IEO & Shared Services,Mgr Integration,"Kasmin, Hauck",Dir Integration Svcs,fb123e32-71a8-42a2-a46b-608b127e719e,2/14/00,Y,NaN

In [ ]:
# Display basic information
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238220 entries, 0 to 238219
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Emp34Id              238220 non-null  object
 1   EmpLastName          238220 non-null  object
 2   EmpFirstName         238216 non-null  object
 3   EmpProcessLevelDesc  238220 non-null  object
 4   EmpLegCoid           238220 non-null  int64
 5   EmpLocationDesc      238220 non-null  object
 6   facility_city        238220 non-null  object
 7   facility_state       238220 non-null  object
 8   facility_zip         238220 non-null  int64
 9   EmpDepartment        238220 non-null  object
 10  EmpDepartmentName    238220 non-null  object
 11  EmpPositionDesc      238220 non-null  object
 12  MgrName              219268 non-null  object
 13  MgrTitle             238007 non-null  object
 14  Mgr34Id              219268 non-null  object
 15  EmpAnnivDate         238220 non-null  object
 16  EmpPositionIsSuper   10019 non-null   object
 17  EmpRNExperienceDate  89148 non-null   object
dtypes: int64(2), object(16)
memory usage: 32.7+ MB
None

In [10]:
# Check for missing values
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
Emp34Id                     0
EmpLastName                 0
EmpFirstName                4
EmpProcessLevelDesc         0
EmpLegCoid                  0
EmpLocationDesc             0
facility_city               0
facility_state              0
facility_zip                0
EmpDepartment               0
EmpDepartmentName           0
EmpPositionDesc             0
MgrName                 18952
MgrTitle                  213
Mgr34Id                 18952
EmpAnnivDate                0
EmpPositionIsSuper     228201
EmpRNExperienceDate    149072
dtype: int64

In [9]:
# Preview the dataset
print("First 5 Rows:")
df.head()

First 5 Rows:

,Emp34Id,EmpLastName,EmpFirstName,EmpProcessLevelDesc,EmpLegCoid,EmpLocationDesc,facility_city,facility_state,facility_zip,EmpDepartment,EmpDepartmentName,EmpPositionDesc,MgrName,MgrTitle,Mgr34Id,EmpAnnivDate,EmpPositionIsSuper,EmpRNExperienceDate
0,742ec4ef-20f8-420b-ae7e-2bfcffe55cae,Heaney,Bg-lynnezee,HCA Florida Pasadena Hospital,26536,HCA Florida Pasadena Hospital,Petersburg,FL,33707,75410,Respiratory Therapy,Supv Respiratory Therapy,"Jahbari, Deckow",Dir Critical Care,9d39e232-d133-4ce4-bf6d-276cc5a7e364,10/15/12,Y,NaN
1,509d3309-ebad-4a78-b0e0-e61824802ce0,Corwin,Amarda,Lawson Group - Officers,27610,Mission Hospital,Ashville,NC,28801,27610,Mission Hospital,CEO Mission Hospital,"Derek, Kling",Div President North Carolina,65aecf22-f6fd-490d-9a2b-52c02e001790,9/9/13,Y,NaN
2,35616aa4-c019-494a-bae1-fc749d87246b,Schultz,Jahmei,Swedish Medical Center,27100,Swedish Medical Center,Englewood,CO,80110,90217,Finance,Controller,"Steven, Parisian",CFO,d72a0182-66af-4f1b-8e89-b2e26c361f78,3/10/08,Y,NaN
3,a8974b25-7330-4b16-b6b0-1e512cc93815,Lynch,Artur,Parkridge Medical Center,34224,Parkridge Medical Center,Chattanooga,TN,37404,78338,Employee Health,Mgr EE Health,NaN,Mkt VP HR,NaN,8/28/06,Y,9/12/94
4,10ae639a-e858-42fa-909f-60e8abba0787,Torphy,Tamand,Lawson IT&S,26249,1100 MLK (Capitol View),Nashville,TN,37203,650D2,HT IEO & Shared Services,Mgr Integration,"Kasmin, Hauck",Dir Integration Svcs,fb123e32-71a8-42a2-a46b-608b127e719e,2/14/00,Y,NaN

# Data Cleaning

In [11]:
# Convert date columns to datetime
df['EmpAnnivDate'] = pd.to_datetime(df['EmpAnnivDate'], errors='coerce')
df['EmpRNExperienceDate'] = pd.to_datetime(df['EmpRNExperienceDate'], errors='coerce')

# Verify the conversion
print(df[['EmpAnnivDate', 'EmpRNExperienceDate']].head())

<positron-console-cell-11>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
<positron-console-cell-11>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

  EmpAnnivDate EmpRNExperienceDate
0   2012-10-15                 NaT
1   2013-09-09                 NaT
2   2008-03-10                 NaT
3   2006-08-28          1994-09-12
4   2000-02-14                 NaT

In [12]:
# Fill missing values
df['EmpPositionIsSuper'].fillna('N', inplace=True)
df['MgrName'].fillna('Unknown', inplace=True)
df['EmpFirstName'].fillna('Unknown', inplace=True)

# Check if missing values remain
print(df.isnull().sum())

<positron-console-cell-12>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


<positron-console-cell-12>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


<positron-console-cell-12>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

Emp34Id                     0
EmpLastName                 0
EmpFirstName                0
EmpProcessLevelDesc         0
EmpLegCoid                  0
EmpLocationDesc             0
facility_city               0
facility_state              0
facility_zip                0
EmpDepartment               0
EmpDepartmentName           0
EmpPositionDesc             0
MgrName                     0
MgrTitle                  213
Mgr34Id                 18952
EmpAnnivDate                0
EmpPositionIsSuper          0
EmpRNExperienceDate    149072
dtype: int64

In [13]:
# Calculate tenure in years
df['Tenure'] = (pd.Timestamp.now() - df['EmpAnnivDate']).dt.days / 365

# Check the new column
print(df[['EmpAnnivDate', 'Tenure']].head())

  EmpAnnivDate     Tenure
0   2012-10-15  12.260274
1   2013-09-09  11.358904
2   2008-03-10  16.863014
3   2006-08-28  18.397260
4   2000-02-14  24.936986

In [14]:
# Summary of the cleaned dataset
print(df.info())
print("\nMissing Values After Cleaning:")
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238220 entries, 0 to 238219
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Emp34Id              238220 non-null  object
 1   EmpLastName          238220 non-null  object
 2   EmpFirstName         238220 non-null  object
 3   EmpProcessLevelDesc  238220 non-null  object
 4   EmpLegCoid           238220 non-null  int64
 5   EmpLocationDesc      238220 non-null  object
 6   facility_city        238220 non-null  object
 7   facility_state       238220 non-null  object
 8   facility_zip         238220 non-null  int64
 9   EmpDepartment        238220 non-null  object
 10  EmpDepartmentName    238220 non-null  object
 11  EmpPositionDesc      238220 non-null  object
 12  MgrName              238220 non-null  object
 13  MgrTitle             238007 non-null  object
 14  Mgr34Id              219268 non-null  object
 15  EmpAnnivDate         238220 non-null  datetime64[ns]
 16  EmpPositionIsSuper   238220 non-null  object
 17  EmpRNExperienceDate  89148 non-null   datetime64[ns]
 18  Tenure               238220 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(14)
memory usage: 34.5+ MB
None

Missing Values After Cleaning:
Emp34Id                     0
EmpLastName                 0
EmpFirstName                0
EmpProcessLevelDesc         0
EmpLegCoid                  0
EmpLocationDesc             0
facility_city               0
facility_state              0
facility_zip                0
EmpDepartment               0
EmpDepartmentName           0
EmpPositionDesc             0
MgrName                     0
MgrTitle                  213
Mgr34Id                 18952
EmpAnnivDate                0
EmpPositionIsSuper          0
EmpRNExperienceDate    149072
Tenure                      0
dtype: int64

# EDA